.idea
.vscode
.DS_Store
__pycache__/
frontend
migrations
store
*.py[cod]
*$py.class

**/*.zip
**/*.rar
*.log
*.out

store/**

upload/
logging/

spiders_data/
news/news.json
flight/flights_data.json
flight/chromedriver.exe
risk/risk_areas.json
