django-cors-headers
mysqlclient>=2.0.1
Pillow>=7.2.0
pymysql>=0.10.0
python-dateutil>=2.8.1
requests>=2.24.0
django~=3.1
colorama~=0.4.3
beautifulsoup4~=4.9.1
easydict~=1.9
numpy~=1.21.0
pandas~=1.2.5
akshare~=0.9.89
retrying~=1.3.3
seatable-api
tqdm~=4.61.1


bs4~=0.0.1
selenium~=3.141.0